@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*CSS variables*/
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #785200;
    --accent1-color: #eafbf9;
    --accent2-color: #FFFFFF;

    --heading-font: 'Happy Monkey', serif;
    --paragraph-font: 'Montserrat', serif;

    --nav-background-color: #eafbf9;
    --nav-link-color: #151515;
    --nav-hover-link-color: #4fdbce;
    --nav-hover-background-color: #4e5662;
}

div.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero article img{
    width: 250px;
    height: auto;
    float: right;
}

.hero h1 {
    position: absolute;
    top: 30px;
    left: 300px;
    padding: 20px;
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, .5)
}
article{
    position: absolute;
    top: 300px;
    color: #FFFFFF;
    background-color:  rgba(0, 0, 0, .5);
}


/*body selector rule*/
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    font-size: 1.2em;
    color: #333;
    background-color: var(--accent1-color);
}

/*headings grouping selector*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}




/*p selector*/
p {
    font-family: var(--paragraph-font);
    padding: 25px;
}

/*nav selector and anchor tag children*/



nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

a{
    text-decoration: none;
}

/* week 4 project */
/*header selector*/
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    
    


    padding: 20px;
    background-color: var(--accent1-color)
    /* week 4 project */
    
}

nav {
    display: flex;
    align-items: center;
    justify-items: center;

    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    
}

section h2{
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 0px 0px ;
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
}




  

.adventure{
    display: grid;
    grid-template-columns: repeat(5,1fr) ;
    margin: 20px 0px 20px 0px;
}



.adventure h2{
    display: grid;
    grid-column: 1/6;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    padding: 5px;
    max-width: 180px;
    margin: auto;
    flex-basis: auto;
  }

figure img {
    max-width: 220px;
    max-height: 150px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}


/* #project for week 05 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




header{
    margin: 0 auto;
    width: 650px;
    justify-content: center;
}




form {
    /* max-width: 650px; */
    
    
    margin: 3rem;
    
    padding: 1rem;

    border: 1px solid rgba(0,0,0,0.1);
    
    border-radius: 0.5rem;

    background-color: #eee;

    display: grid;
    grid-template-columns:  1fr 2fr 1fr;
   
    
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    grid-column: 2/3;
}

button:hover {
    background-color: darkgreen;
}

label{
    padding: 10px 10px 10px 0px;
    margin: auto 0;
    text-align: right;
    grid-column:1/2;
    
}
form p{
    grid-column:2/3;
}
input{
    height: 40px;
    align-self: center;
    

}

input[type="text"] {
    grid-column:2/3;  
}



input[type="radio"] {
    border: 0;
    width: 100%;
    height: 1.5em;
    grid-column:2/3;
    
}

input[type="checkbox"] {
    border: 0;
    width: 100%;
    height: 1.5em;
    vertical-align: bottom;
    grid-column:2/3;
}

textarea{
    grid-column:2/3;
}
.employee{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.employee img{
    max-width: 240px;
    max-height: 160px;
    grid-row: 1/2;
}


/* trips.html */

/* book this trip bottom  */
section a{
    margin: 1rem;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    grid-column: 2/3;
}

section a:hover {
    background-color: blue;
}


/* section part */
section{
    background-color: #FFFFFF;
}
/* trip1 */
.trip1 {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    border-style: double;
    border-color: #e52222ab;
    margin: 10px;
} 

.trip1 img{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 400PX;
}

.trip1 h2{
    grid-column: 2/3;
}
/* trip2 */
.trip2 {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    border-style: double;
    border-color: #e52222ab;
    margin: 10px;
} 

.trip2 img{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 400PX;
}

.trip2 h2{
    grid-column: 2/3;
}

/* trip3 */
.trip3 {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    border-style: double;
    border-color: #e52222ab;
    margin: 10px;
} 

.trip3 img{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 400PX;
}

.trip3 h2{
    grid-column: 2/3;
}



/* trip4 */
.trip4 {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    border-style: double;
    border-color: #e52222ab;
    margin: 10px;
} 

.trip4 img{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 400PX;
}

.trip4 h2{
    grid-column: 2/3;
}

/* trip5 */
.trip5 {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    border-style: double;
    border-color: #e52222ab;
    margin: 10px;
} 

.trip5 img{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 400PX;
}

.trip5 h2{
    grid-column: 2/3;
}

/* html */

html{
    display: flex;
    justify-content: center;
}


/* table content */
table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;

  }
  
  caption {
    /* this allow the caption to be at the bottom of the table */
    padding: 10px;
    /* bold = 700 */
    font-weight: 700;
    /*? assigment */
    font-style: italic;
  }
  
  thead,
  tfoot {
    background-color: rgb(228 240 245);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(odd) {
    background-color: rgb(251, 208, 197);
  }
  tbody > tr:nth-of-type(even) {
    background-color: rgb(201, 251, 197);
  }

  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }

/*? asiigment  */

thead{
  background-color: black;
  color: white;
}

main{
    display: grid;
}

footer nav a img{
    width: 64.004px;
    height: auto;
}


/* index */
.linktrip {
    justify-self: center;
    padding: 30px;
}

.linktrip a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.porpuse div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #ffffff;
    border-style:double;
    border-color: #e52222ab ;
}

.porpuse div img{
    max-width: 300px;
    grid-column: 1/2;
    justify-self:center;
    align-self:center;
}
.porpuse div p{
    grid-column: 2/3;
}

.history{
    margin: 30px;
}