* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: #333;
    background-color: #fff;
}

header{
    margin: 0 auto;
    width: 650px; 
}

h1 {
    margin: 1rem;
    font-size : 1.5em;
    color: navy;
    text-align: center;
}

form {
    width: 650px;
    
    margin: 0 auto;
    
    padding: 1rem;

    border: 1px solid rgba(0,0,0,0.1);
    
    border-radius: 0.5rem;

    background-color: #eee;

    display: grid; 

}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

label{
    padding: 10px 10px 10px 0px;
    margin: auto 0;
}
input, select{
    height: 40px;
}