*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: steelblue;
    padding: 1rem;
    /* week4 assignment */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
    /* week 4 assignment */
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;

}

h1 {
    color: steelblue;
    /* week4 assignment */
    border: 1px solid steelblue;

}



p{
    padding: 0;
}





aside h2{
    position: absolute;
    top: 20px;
    left: 120px;
    
}

aside img{
    
    width: 200px;
    height: auto;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    width: 150px;
    height: auto;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #E7F0ED;
    color: #785200;
}

/* week 4 assignment */

header, .grid, footer{
    max-width: 800px;
    margin: auto;
}

.grid {
    display: grid;
    align-items: center;
}

main{
    max-width: 640px;
    /* week4 assignment */
    grid-column: 2/3;
}

aside{
    width: 20em;
    text-align: center; 
    position: relative;  
    /* week4 assignment */
    grid-column: 1/2;
    grid-row: 1/2;

}